<ion-header>
    
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content>
<ion-label>
      <ion-title>Pagina de Juan</ion-title>
    </ion-label>
</ion-content>
