<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="false">
  <ion-header >
    <ion-toolbar>
      <ion-title class="ion-text-center"> <strong>Pagina de Inicio</strong></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <p>Selecciona una de las siguientes opciones para ir a otra página</p>
  </div>

  <ion-list class="list">
    <ion-item *ngFor="let p of paginas">
      <ion-label routerLink="{{ p.direccion }}">
      <ion-title>{{ p.titulo }} </ion-title>
      <ion-avatar> <ion-img src=" {{ p.imagen }}">   </ion-img> 
    </ion-avatar>
    </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
